.idea
.fleet
.vscode
.venv
.github


**/__pycache__
**/stats_graph.png

**.sqlite
**.sqlite3
**.json
**.csv
**.sql
**/.env
**/logs


**/database/migrations/versions/*
!**/database/migrations/versions/__init__.py
